 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) {
    body {
        margin: 0px;
        font-family: Poppins, sans-serif;
    }

    h1 {
        margin-bottom: 0px;
        font-size: 15px;
        font-weight: 600;
    }

    .top-banner {
        display: flex;
        background-image: url("../img/top-banner.png");
        background-repeat: no-repeat;
        margin-bottom: 51px;
    }

    .welcome {
        margin-left: 5%;
        width: 50%;
        margin-top: 38px;
    }

    .welcome h3 {
        font-weight: 600;
        font-size: 13px;
    }

    .welcome .wel-p {
        margin-bottom: 31px;
        color: dimgray;
        font-weight: 400;
        font-size: 15px;
        display: none;
    }

    .welcome img {
        margin-top: 37px;
        width: 100%;
        text-align: center;
    }

    .name-color {
        color: rgb(255, 165, 0);
    }

    .hire-btn {
        text-decoration: none;
        color: white;
        background-image: linear-gradient(lightsalmon, tomato);
        padding: 7px 27px;
        border-radius: 5px;
        font-size: 9px;
    }

    .hire-btn:hover {
        transition: all 0.6s ease 0s;
        color: tomato;
        background-image: none;
        padding: 10px 40px;
        border-radius: 5px;
        border: 1px solid tomato;
    }

    .dream-big {
        display: flex;
        background-image: url("../img/dream-bg.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 43px;
        margin-bottom: 50px;
    }

    .dream {
        width: 50%;
        margin-left: 3%;
    }

    .dream img {
        text-align: center;
        width: 97%;
        margin-top: 14px;
    }

    .dream h1 {
        font-weight: 500;
        font-size: 44px;
    }

    .dream h2 {
        font-weight: 600;
    }

    .dream p {
        color: dimgrey;
    }

    .dream-2 {}

    .dream-2 {
        margin-top: 0px;
        width: 50%;
        margin-left: 5%;
        margin-right: 7%;
    }

    .dream-2 h1 {
        font-weight: 500;
        font-size: 21px;
    }

    .dream-2 h2 {
        font-weight: 600;
        font-size: 14px;
    }

    .dream-2 p {
        color: dimgrey;
        margin-bottom: 29px;
        display: none;
        font-size: 15px;
    }

    .download {
        text-decoration: none;
        color: white;
        background-image: linear-gradient(lightsalmon, tomato);
        padding: 7px 8px;
        border-radius: 5px;
        font-size: 7px;
    }

    .download:hover {
        transition: all 0.6s ease 0s;
        color: tomato;
        background-image: none;
        padding: 10px 40px;
        border-radius: 5px;
        border: 1px solid tomato;
    }

    .experience {
        margin-bottom: 55px;
        background-image: url("../img/exp-bg.png");
        background-repeat: no-repeat;
        background-position-y: 389px;
        background-size: 74px;
    }

    .experience .expe {
        text-align: center;
        margin-bottom: 23px;
        font-size: 22px;
    }

    .expe_content {
        display: block;
    }

    .expe_item {
        width: 74%;
        margin-bottom: 42px;
        margin-left: 4%;
        box-shadow: grey 5px 7px 40px;
        padding: 20px;
        border-left: 8px solid;
        border-image: linear-gradient(lightsalmon, tomato) 1 / 1 / 0 stretch;
    }

    .expe_item h1 {
        font-size: 18px;
    }

    .expe_item h3 {
        color: orange;
        font-size: 16px;
    }

    .expe_item p {
        margin-bottom: 44px;
        margin-top: 20px;
        color: dimgray;
        font-size: 13px;
    }

    .expe_item2 {
        width: 68%;
        margin-left: 4%;
        margin-right: 4%;
        box-shadow: grey 5px 7px 40px;
        padding: 29px;
        border-left: 8px solid;
        border-image: linear-gradient(blue, cyan) 1 / 1 / 0 stretch;
    }

    .expe_item2 h1 {
        font-size: 20px;
    }

    .expe_item2 h3 {
        color: orange;
        font-size: 16px;
    }

    .expe_item2 p {
        margin-bottom: 20px;
        color: dimgray;
        font-size: 14px;
        font-size: 13px;
    }

    footer p {
        text-align: center;
        color: dimgray;
        font-size: 13px;
    }

 }

 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) and (max-width: 767.98px) {
     body {
         margin: 0px;
         font-family: Poppins, sans-serif;
     }

     h1 {
         margin-bottom: 0px;
         font-size: 20px;
         font-weight: 600;
     }

     .top-banner {
         display: flex;
         background-image: url("../img/top-banner.png");
         background-repeat: no-repeat;
         margin-bottom: 17px;
     }

     .welcome {
         margin-left: 5%;
         width: 50%;
         margin-top: 38px;
     }

     .welcome h3 {
         font-weight: 600;
         font-size: 15px;
     }

     .welcome .wel-p {
         margin-bottom: 31px;
         color: dimgray;
         font-weight: 400;
         font-size: 15px;
         display: none;
     }

     .welcome img {
         margin-top: -9px;
         width: 90%;
         text-align: center;
     }

     .name-color {
         color: rgb(255, 165, 0);
     }

     .hire-btn {
         text-decoration: none;
         color: white;
         background-image: linear-gradient(lightsalmon, tomato);
         padding: 7px 27px;
         border-radius: 5px;
         font-size: 11px;
     }

     .hire-btn:hover {
         transition: all 0.6s ease 0s;
         color: tomato;
         background-image: none;
         padding: 10px 40px;
         border-radius: 5px;
         border: 1px solid tomato;
     }

     .dream-big {
         display: flex;
         background-image: url("../img/dream-bg.png");
         background-repeat: no-repeat;
         background-position: right center;
         background-size: 73px;
         margin-bottom: 39px;
     }

     .dream {
         width: 50%;
         margin-left: 3%;
     }

     .dream img {
         text-align: center;
         width: 91%;
         margin-top: 0px;
     }

     .dream h1 {
         font-weight: 500;
         font-size: 44px;
     }

     .dream h2 {
         font-weight: 600;
     }

     .dream p {
         color: dimgrey;
     }

     .dream-2 {}

     .dream-2 {
         margin-top: 0px;
         width: 50%;
         margin-left: 5%;
         margin-right: 7%;
     }

     .dream-2 h1 {
         font-weight: 500;
         font-size: 30px;
     }

     .dream-2 h2 {
         font-weight: 600;
         font-size: 16px;
     }

     .dream-2 p {
         color: dimgrey;
         margin-bottom: 29px;
         display: none;
         font-size: 15px;
     }

     .download {
         text-decoration: none;
         color: white;
         background-image: linear-gradient(lightsalmon, tomato);
         padding: 7px 16px;
         border-radius: 5px;
         font-size: 12px;
     }

     .download:hover {
         transition: all 0.6s ease 0s;
         color: tomato;
         background-image: none;
         padding: 10px 40px;
         border-radius: 5px;
         border: 1px solid tomato;
     }

     .experience {
         margin-bottom: 72px;
         background-image: url("../img/exp-bg.png");
         background-repeat: no-repeat;
         background-position-y: 389px;
         background-size: 74px;
     }

     .experience .expe {
         text-align: center;
         margin-bottom: 33px;
         font-size: 28px;
     }

     .expe_content {
         display: block;
     }

     .expe_item {
         width: 81%;
         margin-bottom: 42px;
         margin-left: 4%;
         box-shadow: grey 5px 7px 40px;
         padding: 20px;
         border-left: 8px solid;
         border-image: linear-gradient(lightsalmon, tomato) 1 / 1 / 0 stretch;
     }

     .expe_item h1 {
         font-size: 26px;
     }

     .expe_item h3 {
         color: orange;
         font-size: 18px;
     }

     .expe_item p {
         margin-bottom: 52px;
         margin-top: 20px;
         color: dimgray;
         font-size: 15px;
     }

     .expe_item2 {
         width: 78%;
         margin-left: 4%;
         margin-right: 5%;
         box-shadow: grey 5px 7px 40px;
         padding: 29px;
         border-left: 8px solid;
         border-image: linear-gradient(blue, cyan) 1 / 1 / 0 stretch;
     }

     .expe_item2 h1 {
         font-size: 26px;
     }

     .expe_item2 h3 {
         color: orange;
         font-size: 17px;
     }

     .expe_item2 p {
         margin-bottom: 50px;
         color: dimgray;
         font-size: 14px;
         font-size: 15px;
     }

     footer p {
         text-align: center;
         color: dimgray;
     }


 }

 /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) and (max-width: 991.98px) {
     body {
         margin: 0;
         font-family: 'Poppins', sans-serif;
     }

     h1 {
         margin-bottom: 0;
         font-size: 27px;
         font-weight: 600;
     }

     /* banner section satrt  */
     .top-banner {
         display: flex;
         background-image: url(../img/top-banner.png);
         background-repeat: no-repeat;
         margin-bottom: 60px;
     }

     .welcome {
         margin-left: 5%;
         width: 50%;
         margin-top: 24px;
     }

     .welcome h3 {
         font-weight: 600;
         font-size: 17px;
     }

     .welcome .wel-p {
         margin-bottom: 31px;
         color: dimgray;
         font-weight: 400;
         font-size: 15px;
     }

     .welcome img {
         margin-top: 45px;
         width: 90%;
         text-align: center;
     }

     .name-color {
         color: #FFA500;
     }

     .hire-btn {

         text-decoration: none;

         color: white;

         background-image: linear-gradient(lightsalmon, tomato);

         padding: 9px 37px;

         border-radius: 5px;

         font-size: 15px;
     }

     .hire-btn:hover {
         transition: .6s;
         color: tomato;
         background-image: none;
         padding: 10px 40px;
         border-radius: 5px;
         border: 1px solid tomato;
     }

     /* banner section end  */
     /* dream-big section satrt  */
     .dream-big {
         display: flex;
         background-image: url(../img/dream-bg.png);
         background-repeat: no-repeat;
         background-position: right;
         background-size: 73px;
         margin-bottom: 73px;
     }

     .dream {
         width: 50%;
         margin-left: 3%;
     }

     .dream img {
         text-align: center;
         width: 100%;
         margin-top: 34px;
     }

     .dream h1 {
         font-weight: 500;
         font-size: 44px;
     }

     .dream h2 {
         font-weight: 600;
     }

     .dream p {
         color: dimgrey;
     }


     .dream-2 {}

     .dream-2 {
         margin-top: 0px;
         width: 50%;
         margin-left: 5%;
         margin-right: 7%;
     }

     .dream-2 h1 {
         font-weight: 500;
         font-size: 36px;
     }

     .dream-2 h2 {
         font-weight: 600;
         font-size: 19px;
     }

     .dream-2 p {
         color: dimgrey;
         margin-bottom: 29px;
         font-size: 15px;
     }

     .download {

         text-decoration: none;

         color: white;

         background-image: linear-gradient(lightsalmon, tomato);

         padding: 9px 31px;

         border-radius: 5px;

         font-size: 15px;
     }

     .download:hover {
         transition: .6s;
         color: tomato;
         background-image: none;
         padding: 10px 40px;
         border-radius: 5px;
         border: 1px solid tomato;
     }

     /* dream-big section end  */
     /* experience section start  */
     .experience {
         margin-bottom: 120px;
         background-image: url(../img/exp-bg.png);
         background-repeat: no-repeat;
         background-position-y: 250px;
         background-size: 84px;
     }

     .experience .expe {
         text-align: center;
         margin-bottom: 44px;
     }

     .expe_content {
         display: flex;
     }

     .expe_item {
         width: 45%;
         margin-left: 4%;
         box-shadow: 5px 7px 40px grey;
         padding: 24px;
         border-left: 8px solid;
         border-image: linear-gradient(lightsalmon, tomato);
         border-image-slice: 1;
     }

     .expe_item h1 {
         font-size: 28px;
     }

     .expe_item h3 {
         color: orange;
         font-size: 16px;
     }

     .expe_item p {
         margin-bottom: 52px;
         margin-top: 20px;
         color: dimgray;
         font-size: 16px;
     }

     .expe_item2 {
         width: 45%;
         margin-left: 5%;
         margin-right: 5%;
         box-shadow: 5px 7px 40px grey;
         padding: 30px;
         border-left: 8px solid;
         border-image: linear-gradient(blue, cyan);
         border-image-slice: 1;
     }

     .expe_item2 h1 {
         font-size: 29px;
     }

     .expe_item2 h3 {
         color: orange;
         font-size: 17px;
     }

     .expe_item2 p {
         margin-bottom: 50px;
         color: dimgray;
         font-size: 16px;
         margin-top: 20px;
     }

     /* experience section end  */

     footer P {
         text-align: center;
         color: dimgray;
     }

 }

 /* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) and (max-width: 1199.98px) {}

 /* Extra large devices (Extra large desktops, 1200px and up) */
 @media (min-width: 1200px) and (max-width: 1399.98px) {}

 /* Extra Extra large devices (Extra Extra large desktops, 1200px and up) */
 @media (min-width: 1400px) and (max-width: 1599.98px) {}